<% layout("layouts/boilerplate") -%>

<nav class="navbar navbar-expand-md sticky-top bg-light navbar-light">
  <a href="#" class="navbar-brand">
    <img src="img/logo.png" alt="FORESE Logo" width="80" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#"><%= member.name %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members/logout">Logout<i class="ml-2 fas fa-sign-out-alt fa-lg"></i></a>
      </li>
    </ul>
  </div>
</nav>

<main class="container">
  <div class="mt-2"><%- include("../partials/flash.ejs") %></div>

  <i class="fas fa-plus-circle fa-4x new-student" data-toggle="modal" data-target="#newStudent"></i>

  <div class="row my-2">
    <input type="radio" name="viewType" id="card" value="card" checked />
    <label for="card">Card View</label>

    <input type="radio" name="viewType" id="table" value="table" />
    <label for="table">Table View</label>
  </div>

  <% if(students && students.length) { %>
  <div class="row" id="students">
    <% students.forEach((student, index) => { %>
    <div class="col-md-4 col-sm-6">
      <div class="card <%= student.gdCompleted %>">
        <div class="card-body">
          <h5 class="card-title"><%= student.name %> (<%= student.registerNum %>)</h5>
          <p class="card-subtitle"><%= student.department %></p>
        </div>

        <ul class="list-group list-group-flush">
          <% const sum = parseInt(student.scores["subjectKnowledge"]) + parseInt(student.scores["communicationSkills"])
          + parseInt(student.scores["bodyLanguage"]) + parseInt(student.scores["listeningSkills"]) +
          parseInt(student.scores["criticalThinking"]) + parseInt(student.scores["leadershipSkills"]) %>
          <li class="list-group-item"><b>Total Score : </b><%= sum %> / 30</li>
          <div class="card-body"><%- include("../partials/buttons.ejs", {student: student}) %></div>
        </ul>
      </div>
    </div>
    <% }); %>
  </div>
  <table class="table table-bordered d-none">
    <thead>
      <tr>
        <th>Name</th>
        <th>Register Number</th>
        <th>Department</th>
        <th>Score</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach((student, index) => { %>
      <tr class="bg-<%= student.gdCompleted %>">
        <% const sum = parseInt(student.scores["subjectKnowledge"]) + parseInt(student.scores["communicationSkills"]) +
        parseInt(student.scores["bodyLanguage"]) + parseInt(student.scores["listeningSkills"]) +
        parseInt(student.scores["criticalThinking"]) + parseInt(student.scores["leadershipSkills"]) %>
        <td><%= student.name %></td>
        <td><%= student.registerNum %></td>
        <td><%= student.department %></td>
        <td><%= sum %></td>
        <td><%- include("../partials/buttons.ejs", {student: student}) %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <p>You have not created any students yet.</p>
  <% } %>
</main>

<%- include("./modals/new.ejs") %> <%- include("./modals/edit.ejs") %> <%- include("./modals/delete.ejs") %>
